@import "tailwindcss";

body {
  @apply text-white;
}

.signal-bar {
  opacity: 1;
  transition: opacity 0.3s;
}

@keyframes signalFade {
  0% { opacity: 1; }
  20% { opacity: 0; }
  40% { opacity: 1; }
  100% { opacity: 1; }
}

.signal-icon:hover .bar1 {
  animation: signalFade 0.9s linear infinite;
  animation-delay: 0s;
}
.signal-icon:hover .bar2 {
  animation: signalFade 0.9s linear infinite;
  animation-delay: 0.1s;
}
.signal-icon:hover .bar3 {
  animation: signalFade 0.9s linear infinite;
  animation-delay: 0.2s;
}